<script src="/socket.io/socket.io.js"></script>

{{> _navbar}}

<script>
  $(function (e) {
    var socket = io();
    //e.preventDefault();
    var rmCD;
    var user;
    var currAns;
    var score = 0;
    socket.on('err', function(data){//error handling
      console.log(data.err)
      switch(data.errCode){
        case 0:
            $.ajax({
              type: "POST",
              url: "/err",
              data: { msg: data.err },
              success: function(e) {
                window.location.href=e.url;
              },
              error: function(jqXHR, textStatus, err) {
                  alert('text status '+textStatus+', err '+err)
              }
            });
          break;
      }
    });

    socket.on("handshake", function(data){
      var data = decodeURI("{{clientInfo}}");
      //console.log(data);
      data = JSON.parse(data);
      rmCD = data.roomCode;
      $('#user').text(data.userName);
      socket.emit('connInfo', data);
    });

    socket.on("ClientStatus", function(data){
      if(data.host){
        $('#bodyholder').load("/html/gameStartHost.html");
        
      }
      else{
        $('#bodyholder').load("/html/gameStart.html");
      }
    });

    socket.on('gameBegining', function(data){
      $('#bodyholder').empty();
      $('#bodyholder').load("/html/wait.html");
    });

    socket.on('roundStart', function(data){
      $('#bodyholder').empty();
      $('#bodyholder').load("/html/game.html", function(){
        $('#question').text(data.question);
        $('#a').text(data.a);
        $('#b').text(data.b);
        $('#c').text(data.c);
        currAns = data.answer;
      });
    });

    socket.on("receiveQ", function(data){
      console.log("new Question Recived")
      $('#question').text(data.question);
      $('#a').text(data.a);
      $('#b').text(data.b);
      $('#c').text(data.c);
      currAns = data.answer;
    });

    socket.on("TimeUp", function(data){
      $('#bodyholder').empty();
      $('#bodyholder').load("/html/wait.html");
      var plScore = {
        userName: $('#user').text(),
        roomCode: rmCD,
        playerScore: score
      }
      console.log(plScore)
      socket.emit('sendScore', plScore);
      //$('#bodyholder').empty();
      //$('#bodyholder').load("/html/PointSelection.html", function(){
      //  $('#score').text(score);
      //  if(score == 0)
      //    $('#+1').text(score + 500);
      //  else
      //    $('#+1').text(score*2);
      //  $('#0').text(score);
      //  $('#-1').text(score - 500);
      //});
    });

    socket.on("EnoughPlayers", function(data){
      $("p").append('<button class="btn btn-dark btn-lg mb-3 ml-3 mr-3" id = "begin">Begin Game</button>')
    })


    
    $('#bodyholder').on('click', '#begin', function(){
      socket.emit("beginGame", {roomCode:rmCD});
    })
    $('#bodyholder').on('click', '#a', function(){
      console.log('A clicked');
      if(currAns == 'a'){
        score += 100;
        $('#score').text(score);
      }
      socket.emit("nextQ", {roomCode:rmCD});
    })
    $('#bodyholder').on('click', '#b', function(){
      console.log('A clicked');
      if(currAns == 'b'){
        score += 100;
        $('#score').text(score);
      }
      socket.emit("nextQ", {roomCode:rmCD});
    })
    $('#bodyholder').on('click', '#c', function(){
      console.log('A clicked');
      if(currAns == 'c'){
        score += 100;
        $('#score').text(score);
      }
      socket.emit("nextQ", {roomCode:rmCD});
    })

    $('#bodyholder').on('click', '#+1', function(){
      if(score == 0)
          var tmp = score + 500;
        else
          var tmp = score*2;
      var chaseData = {
        userName: $('#user').text(),
        playerStart: 3
        playerScore: tmp
      }
      socket.emit('ChaseData', chaseData);
      $('#bodyholder').empty();
      $('#bodyholder').load("/html/wait.html");
    })
    $('#bodyholder').on('click', '#0', function(){
      var chaseData = {
        userName: $('#user').text(),
        playerStart: 4
        playerScore: score
      }
      socket.emit('ChaseData', chaseData);
      $('#bodyholder').empty();
      $('#bodyholder').load("/html/wait.html");
    })
    $('#bodyholder').on('click', '#-1', function(){
      var chaseData = {
        userName: $('#user').text(),
        playerStart: 5
        playerScore: score - 500
      }
      socket.emit('ChaseData', chaseData);
      $('#bodyholder').empty();
      $('#bodyholder').load("/html/wait.html");
    })
    
  });
</script>

<div class="" id="bodyholder">



</div>